/* Styles pour mobile (styles de base) */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        border: 2px solid red;
        width: 100%;
        text-align: center;
        height: 36px;
        padding: 14px 89px 13px 89px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        @include tablet {

            padding: 30px 0px;

        }
    }

    .location {
        background-color: #EAEAEA;
        height: 50px;
        width: 100%;
        @include center-flex;
        gap: 17px;
        font-size: 16px;
        font-weight: 500;
        color: $grey;
    }

    .description {
        background-color: $bg-color;
        padding-top: 39px;
        padding-bottom: 57px;
        text-align: center;
        width: 100%;

        @include tablet {
            padding-top: 30px;
            padding-bottom: 30px;
        }



        /*style of the title description */

        &__title {
            border: 2px solid red;
            font-size: 24px;
            margin: 0px;
            padding-bottom: 14px;

            @include desktop {
                font-size: 40px;
            }
        }

        &__text {
            color: $grey;
            margin: 0;
            font-size: 18px;
            font-weight: 300;
        }

        &__button {
            margin-top: 27px;
            width: 218px;
            height: 50px;
            border-radius: 25px;
            color: white;
            border: 0px;
            font-weight: 500;
            padding: 13px 18.75px;
            font-size: 16px;
            background-image: $gradient;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: 600ms ease-in-out;

            &:hover {
                opacity: 0.8;
                /* Color functions like lighten not available on gradient */
                box-shadow: 0px 4px 15px darken($grey-light, 50%);
                /* Make button shadow darker on hover */

            }
        }
    }

}