/* Styles pour mobile (styles de base) */
header {

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .logo-home {
        @include head-style;
        gap: 42px;
        justify-content: center;
    }

    .logo-home.sans-center {
        justify-content: initial;
        .back {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            margin-left: 17px;
            position: absolute;
        }

        .logo__pic {
            margin: auto;
        }
    }

    .location {
        background-color: #EAEAEA;
        height: 50px;
        width: 100%;
        @include center-flex;
        gap: 17px;
        font-size: 16px;
        font-weight: 500;
        color: $grey;
    }

    .description {
        background-color: $bg-color;
        padding-top: 39px;
        padding-bottom: 57px;
        text-align: center;
        width: 100%;

        @include tablet {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        /*style of the title description */
        &__title {
            font-size: 24px;
            margin: 0;
            padding-bottom: 14px;

            @include desktop {
                font-size: 40px;
            }
        }

        &__text {
            color: $grey;
            margin: 0;
            font-size: 18px;
            font-weight: 300;
        }

        &__button {
            margin-top: 27px;
            width: 218px;
            padding: 13px 18.75px;
            @include btn;
            @include btn-animate;
        }
    }
}