.picture-resturant {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: absolute;
}



.holder {
    width: 100%;
    display: flex;
    justify-content: center;


.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-color;
    border-radius: 40px 40px 0px 0px;
    margin-top: 240px;
    position: relative;
    width: 100%;
    @include desktop{
        width: 80%;
    }




    .menu__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 31px 17px 40px;

        .name {
            font-family: $font2;
            font-size: 28px;
            font-weight: 400;
            margin: 0;
        }

        .icon {
            font-size: 22px;
            font-weight: 400;
            position: relative;

            .fa-regular.fa-heart {
                font-size: 23px;
                background-color: $bg-color;
            }

            @include heart-icon;
        }

        @include desktop {
            justify-content: center;
            gap: 24px;

        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0px 10px;

        @include desktop {
            align-items: center;
        }


        .plat_list {
            opacity: 0;
            animation: showList 1s ease-out forwards;
            @include style-column;
            


            .plat_title {
                @include title-menu;

            }


            .carte {
                @include style-card;
                overflow: hidden;



                .carte__infos {
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    @include text-hide;




                    .carte__title {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                        @include text-hide;
                    }

                    .carte__txt {
                        margin: 0;
                        font-size: 15px;
                        font-weight: 300;
                        @include text-hide;
                    }
                }

                .price {
                    padding: 15px;
                    font-weight: 700;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    margin-left: auto;


                }
            }

            .check {
                width: 59px;
                background-color: #99E2D0;
                color: white;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                margin-right: -59px;
                transition-duration: 1000ms;

            }

            .carte:hover .check {
                opacity: 1;
                margin-right: 0px;
                box-shadow: 0px 4px 15px darken($grey-light, 50%);
            }
        }

        .btn-cmd {
            @include btn;
            width: 186px;
            padding: 16px 48px;
            margin-bottom: 40px;
            @include btn-animate;
            margin: 0px auto 40px;
        }
        @include delay ;
    }
}
}