/* Mixin pour le breakpoint mobile */
@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

/* Mixin pour le breakpoint tablet */
@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

/* Mixin pour le breakpoint desktop */
@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

/*-------------------------------------------------*/
@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*      Delete the style         */
@mixin style-disabled {
    text-decoration: none;
    list-style: none;
    color: inherit;
}


/*     heart icon treatment   */
@mixin heart-icon {
    .fa-regular.fa-heart {
        position: absolute;

        transition: opacity 1000ms ease-in-out;
    }

    .fa-regular.fa-heart:hover {
        opacity: 0;
        /* fa regular dissapear on hover, fa solid appears instead */
        cursor: pointer;
    }

    .fa-solid.fa-heart {
        color: transparent;
        background-image: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
    }

}

/*     style pages menu   */
@mixin style-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@mixin title-menu {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

@mixin style-card {
    display: flex;
    gap: 5px;
    /*width: 100%;*/
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/*     animation card menu   */
@mixin animate {
    opacity: 0;
    transform: translateY(20px);
    animation:  0.5s ease forwards;
    .carte1 {
        animation-delay: 0.2s;
    }
    
    .carte2 {
        animation-delay: 0.4s;
    }
    .carte3 {
        animation-delay: 0.6s;
    }
}