/*    Breakpoint     */
$mobile: 768px;
$tablet: 768px;
$desktop: 992px;

/*    Colors     */
$grey-light:#EAEAEA;
$grey:#353535;
$bg-color:#F6F6F6;
$purple:#9356DC;
$pink:#FF79DA;



/*  linear gradient    */
$gradient: linear-gradient(193deg, $purple -11.44%, $pink 123.93%);